/**
* @Author: gyanl, ananayarora
* @Date:   2016-09-29T09:54:38+05:30
* @Last modified by:   ananayarora
* @Last modified time: 2016-09-29T10:34:45+05:30
*/

body {
	-webkit-transition-duration: 1.2s;
	-moz-transition-duration: 1.2s;
	transition-duration: 1.2s;
}

.btn {
	width: 150px;
}

.circle {
	min-width: 32px;
	min-height: 32px;
	background: #fff;
	margin: 5px;
	border-radius: 32px;
	display: inline-block;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.circle:active {
	box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
	transform: scale(1.1,1.1);
	border-color: #000;
	border: 4px;
}

.focus {
	box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
	-webkit-transform: scale(1.5,1.5);;
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transform: scale(1.5,1.5);;
	-moz-transition: -moz-transform 0.3s ease;
	transform: scale(1.5,1.5);
	transition: transform 0.3s ease;
}

.circle:focus {
	box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
	-webkit-transform: scale(1.5,1.5);;
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transform: scale(1.5,1.5);;
	-moz-transition: -moz-transform 0.3s ease;
	transform: scale(1.5,1.5);
	transition: transform 0.3s ease;
}

.toasty {
	background: rgba(0, 0, 0, 0.7);
	font-family: monospace;
	width: 280px;
	padding: 4px;
	color: #fff;
	border-radius: 20px;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.box{
	padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	vertical-align: middle;
	background: #fff;
	border-radius: 10px;
	color: #000;
	box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
	position: absolute;
    top: 50%;
    left: 50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}

button {
	font-family: monospace;
	outline: none;
	vertical-align: middle;
	font-size: 16px;
	border: none;
	border-radius: 30px;
	padding: 12px;
	box-shadow: 0px 2px 10px -6px rgba(0, 0, 0, 0.75);
	color: #fff;
	text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

button:active {
	box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
	transform: scale(1.05,1.05);
	border-color: #000;
	border: 4px;
}

.header {
	font-family: monospace;
	font-size: 24pt;
}

.subheader {
	font-family: monospace;
}

.option{
		font-family: monospace;
		font-size: 16px;
		display: inline;
}
